.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.take-name {
  height: 100vh;
}

.btn-item {
  margin: .5rem;
  height: 6rem;
  width: 13rem;
  line-height: 1.5rem;
}

.btn-hamburger {
  margin: .8rem;
}

.input-hamburger {
  margin: 2rem;
}

.total-price {
  border-top: 1px solid;
}

.btn-delete {
  font-size: 1.2rem;
  background: transparent;
  border: none;
}

.viewport {
  width: 50%;
  display: flex;
  height: calc(100vh - 160px);
  align-items: center;
}

.form {
  margin: 0 auto;
}

.tabs .tab a {
  color: #30cfbf;
}

.tabs .tab a.active {
  color: #26a69a;
}

.tabs .tab a:hover {
  color: #d4e157;
}

.tabs .indicator {
  background-color: #26a69a;
}

.container-nav {
  margin: 1rem;
}

.collapsible-body {
  height: 100%;
}

.collapsible-body div {
  display: flex;
}

.hamburger-type .col {
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}