.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.take-name {
  height: 100vh;
}

.btn-item {
  margin: .5rem;
  height: 6rem;
  width: 13rem;
  line-height: 1.5rem;
}

.btn-hamburger {
  margin: .8rem;
}

.input-hamburger {
  margin: 2rem;
}

.total-price {
  border-top: 1px solid;
}

.btn-delete {
  font-size: 1.2rem;
  background: transparent;
  border: none;
}

.viewport {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  max-height: -webkit-fill-available;
}

.form{
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
